/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.column {
  float: left;
}

.left {
  width: 66%;
  margin-left: 0;
}
 
.right {
  width: 32%;
  margin-left: 2%;
}

.left2 {
  width: 32%;
  margin-left: 0;
}

.right2 {
  width: 32%;
  margin-left: 2%;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}